p #important h1 #important{
	color: #515151;
	background-color: #212121;
}

.original {
	font-size: 20px
}

.new {
	text-decoration: underline;
}

#box {
	padding: 50px;
	border: 10px solid blue;
	margin: 20px;
	background-color: rgba(0,0,0,0.5);

}

.box-colour {
	color: white;
}

